.vjs-highlight-control {
    cursor: pointer;
}

.vjs-highlight-control:before {
    content: 'H';
}

.vjs-highlight-control[data-enable="true"],
.vjs-highlight-control:hover {
    color: #d40f50;
}

.vjs-default-skin .vjs-play-progress-highlight {
    background: #d40f50 !important;
}
